

.header{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: white;
}

/* Adicione estilos padrão aqui */

.dark-mode {
    background-color: #333; /* Cor de fundo escura */
    color: #fff; /* Cor do texto clara */
  }
  
  /* Adicione mais estilos de modo escuro conforme necessário */
  